# APP SETTINGS
APP_ENV=dev

API_TOKEN=...
# PROVIDERS SELECTION
# Choose components using YAML anchors defined in settings.yaml.
# The "*" prefix is mandatory for proper anchor expansion.
#
# Options for HEAVY_LLM_PROVIDER:      *llm_openai, *llm_ollama
# Options for FAST_LLM_PROVIDER:       *llm_openai, *llm_ollama
# Options for EMBEDDING_PROVIDER:      *emb_openai, *emb_ollama, *emb_hf
# Options for VECTORSTORE_PROVIDER:    *chroma_server, *chroma_local
# Options for RETRIEVER_PROVIDER:      *retriever_simple, *retriever_mmr
# Options for PERSISTENCE_DB_PROVIDER: *sqlite_base, *postgresql_base

HEAVY_LLM_PROVIDER=*llm_openai
FAST_LLM_PROVIDER=*llm_openai
EMBEDDING_PROVIDER=*emb_openai
VECTORSTORE_PROVIDER=*chroma_server
RETRIEVER_PROVIDER=*retriever_simple
PERSISTENCE_DB_PROVIDER=*sqlite_base

# OpenAI
# Required if using *llm_openai or *emb_openai
OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Ollama
# Required if using *llm_ollama or *emb_ollama
OLLAMA_HOST=localhost
OLLAMA_PORT=11434
OLLAMA_SSL=false
OLLAMA_MODEL=llama3
OLLAMA_EMBEDDING_MODEL=nomic-embed-text

# HuggingFace
# Required if using *emb_hf
HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
HF_DEVICE=cpu

# ChromaDB
# Required if using *chroma_server or *chroma_local
VECTOR_COLLECTION=knowledge_base_dev
CHROMA_HOST=localhost # Set CHROMA_HOST=chroma when running inside Docker
CHROMA_PORT=8000
CHROMA_SSL=false

# Persistence Database
# For *sqlite_base: only PERSISTENCE_DB_NAME is required
# For *postgresql_base: all fields below are mandatory
PERSISTENCE_DB_NAME=rag_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSL=false
# Fernet Encryption Key for sensitive data. 
ENCRYPTION_KEY=

# Orchestration & Security
# RAG_ORCHESTRATOR defines the agent logic
RAG_ORCHESTRATOR=profile_rag_orhestrator


# Observability
# Enables tracing and monitoring via OpenTelemetry
OBS_ENABLED=true
OBS_ENDPOINT=localhost:4317